gcloud/
configstore/

# API KEYs
gemini_api_key

# Node/NPM dependencies
opencode/node_modules/
opencode/bun.lock
opencode/package-lock.json

tmux/plugins/

# Mac OS junk
.DS_Store

# Competitive Programming Binaries
*.pch
*.out
.stats
.time_info
