move_down           j
move_up             k
move_left           h
move_right          l

screen_down         <C-d>
screen_up           <C-u>

goto_begining       gg
goto_end            G

search              /
next_item           n
previous_item       N

toggle_visual_scroll v

copy                y

add_highlight       m
goto_highlight      '

zoom_in             =
zoom_out            -

quit                q
